@media screen and (min-width: 900px) and (max-width: 1800px) {


/* popup */
	
	
.box {
	position: fixed;
	background: alpha(opacity=40);
	z-index: 5;
	width: 70%;
	margin-top: 0%;
	margin-left: 15%;
	
	text-align: right;
	color: white;
}
	

/* WEBISTE */
	
div.background {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 0px;
	margin-right: 10%;
    background: black;
	text-align: left;
	color: white;
}

nav{
	width: 20%;
	position: fixed;
	text-size: 14px;
	line-height: 16px;
	left: 15px;
	top: 100px;
	text-align: left;
	font-family: 'Libre Baskerville', serif;
	letter-spacing: 0.04em;
	z-index: 999;
	
	
}


div.content {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin-top: 46%;
    background: #FAFAFA;
}


li {
    list-style: none;
    margin-bottom: 8px;
    font-family: Open Sans 600;
	font-size: 20px;
	line-height: 20px;
}

a {
	text-decoration: none;
	color: black;
  }

a:hover{
	color: black;
	text-decoration: underline;
}


/*oude website*/

html {
    height:100%;
    font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
}

#background {
    text-align: center;
    width: 100%; 
    height: 100%; 
    position: fixed;
    left: 0px; 
    top: 0px; 
    z-index: -1;
}



body {
	padding: 0;
	margin: 0;
	background-image: url(back.gif);
	background-color: #FAFAFA;    
	background-repeat: no-repeat;  
	background-attachment: fixed;  
	background-position: 0% 0%;
	background-size: contain;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
}

/* FONTS */


hr { 
    display: block;
	width: 100%; 
    border-width: 1px;
	color: #123455;
}


h1 {
	font-family: 'Libre Baskerville', serif;
	text-decoration: none;
	font-size: 38px;
	line-height: 28px;
	letter-spacing: 1,5px;
	letter-spacing: 0px;
	font-stretch: expanded;
}

h12 {
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 35px;
	letter-spacing: 1,5px;
	letter-spacing: 0px;
	font-stretch: expanded;
	color:black;
}


h2 {
	font-family: 'Libre Baskerville', serif;
	font-size: 200px;
	line-height: 180px;
	text-align: center;
	letter-spacing: 4px;
	color: white;
}


h3 {
	font-family: "Open Sans", sans-serif;
	text-align: center;
	font-size: 17px;
	padding-top: 0px
	color: black;
	
}

sup {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	text-decoration: underline;
	color: black;	
}


b {
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	font-size: 14px;
	padding-bottom: 10px;
}


b2 {
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	text-decoration: underline;
	font-size: 14px;
	padding-bottom: 10px;
}


t {
	font-family: 'Libre Baskerville', serif;
	letter-spacing: 0.5px;
	font-size: 14px;
	line-height: 21px;
}


t2 {
	font-family: 'Libre Baskerville', serif;
	letter-spacing: 0.5px;
	font-size: 10px;
	color: black;	
	text-align: left;
	line-height: 10px;
}



quote {
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	letter-spacing: 0px;
	font-size: 18px;
	line-height: 24px;
}


/* popup INSTAGRAM */

.showhim {
	display: inline-block;
}
.showme { 
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  /* 
  background-color: white;
  border-style: solid;
  border-color: darkgrey;
  border-width: 0.2px;
  box-shadow: 2px 2px 5px #888888;
  */
}
.showhim .showme {
    display: none; 
}

.showhim:hover .showme {
    display: inherit; 
}




/* Verschillende tekst div's */


	
#intro {
	width: 70%;
 	margin: 0 auto;
	text-align: center;
}

#INSTA {
	width: 50%;
 	margin: 0 auto;
	align: center;
	
}

#INSTA2 {
	width: 30%;
 	margin: auto;
	align: center;
	
}

#INTRODUCTION {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}


#CREATING {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#ICONS {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#MODERN {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#MEDIA {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#CONCLUSION {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#ABSTRACT {
	width: 55%;
 	margin: 0 auto;
}

#END{
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}


}

/*IPADIPADIPADIPADIPADIPADIPAD*/

@media screen and (min-width: 750px) and (max-width: 900px) {

	/* popup */
	
	
	.box {
		display: none;
		position: fixed;
		background: alpha(opacity=40);
		z-index: 5;
		width: 85%;
		margin-top: 20%;
		margin-left: 7%;
	
		text-align: right;
		color: black;
	}
	

	/* WEBISTE */
	
	div.background {
	    position: fixed;
	    z-index: 0;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    margin-top: 0px;
		margin-right: 10%;
	    background: black;
		text-align: left;
		color: white;
	}

	div.content {
	    position: relative;
	    z-index: 1;
	    height: 100%;
	    width: 100%;
	    margin-top: 75%;
	    background: #FAFAFA;
	}
	
	nav{
		display: none;
	
	}


	li {
	    list-style: none;
	    margin-bottom: 8px;
	    font-family: Open Sans 600;
		font-size: 20px;
		line-height: 20px;
	}

	a {
		text-decoration: none;
		color: black;
	  }

	a:hover{
		color: black;
		text-decoration: underline;
	}


	/*oude website*/

	html {
	    height:100%;
	    font-family: "Open Sans";
		font-style: normal;
		font-weight: 400;
	}

	#background {
	    text-align: center;
	    width: 100%; 
	    height: 100%; 
	    position: fixed;
	    left: 0px; 
	    top: 0px; 
	    z-index: -1;
	}



	body {
		padding: 0;
		margin: 0;
		background-image: url(back.gif);
		background-color: #FAFAFA;    
		background-repeat: no-repeat;  
		background-attachment: fixed;  
		background-position: 0% 0%;
		background-size: contain;
		font-family: "Open Sans";
		font-style: normal;
		font-weight: 400;
	}

	/* FONTS */


	hr { 
	    display: block;
		width: 100%; 
	    border-width: 1px;
		color: #123455;
	}


	h1 {
		font-family: 'Libre Baskerville', serif;
		text-decoration: none;
		font-size: 30px;
		line-height: 28px;
		letter-spacing: 1,5px;
		letter-spacing: 0px;
		font-stretch: expanded;
	}
	
	h12 {
		font-family: 'Libre Baskerville', serif;
		font-weight: bold;
		text-decoration: none;
		font-size: 30px;
		letter-spacing: 1,5px;
		letter-spacing: 0px;
		font-stretch: expanded;
		color:black;
	}


	h2 {
		font-family: 'Libre Baskerville', serif;
		font-size: 200px;
		line-height: 180px;
		text-align: center;
		letter-spacing: 4px;
		color: white;
	}


	h3 {
		font-family: "Open Sans", sans-serif;
		text-align: center;
		font-size: 17px;
		padding-top: 0px
		color: black;
	
	}

	sup {
		font-family: "Open Sans", sans-serif;
		font-size: 10px;
		text-decoration: underline;
		color: black;	
	}


	b {
		font-family: "Open Sans", sans-serif;
		text-decoration: none;
		font-size: 12px;
		padding-bottom: 10px;
	}


	b2 {
		font-family: 'Libre Baskerville', serif;
		font-weight: bold;
		text-decoration: underline;
		font-size: 12px;
		padding-bottom: 10px;
	}


	t {
		font-family: 'Libre Baskerville', serif;
		letter-spacing: 0.5px;
		font-size: 12px;
		line-height: 21px;
	}


	t2 {
		font-family: 'Libre Baskerville', serif;
		letter-spacing: 0.5px;
		font-size: 14px;
		color: white;	
		text-align: left;
	}



	quote {
		font-family: 'Libre Baskerville', serif;
		font-style: italic;
		letter-spacing: 0px;
		font-size: 18px;
		line-height: 24px;
	}


	/* popup INSTAGRAM */

	.showhim {
	display: inline-block;
	}
	.showme {
	   display: inline-block;
	   position: absolute;
	left: 10px;
	}
	.showhim .showme {
	   display: none; 
	}

	.showhim:hover .showme {
	   display: inherit; 
	}




	/* Verschillende tekst div's */


	
	#intro {
		width: 85%;
	 	margin: 0 auto;
		text-align: center;
	}

	#INSTA {
		width: 85%;
	 	margin: 1% auto;
		align: center;
	
	}
	
	#INSTA2 {
		width: 55%;
	 	margin: auto;
		align: center;
	
	}

	#INTRODUCTION {
		width: 85%;
		margin: 1% auto;
		text-align: left;
	}


	#CREATING {
		width: 85%;
	 		margin: 1% auto;
		text-align: left;
	}

	#ICONS {
		width: 85%;
	 	margin: 0 auto;
		text-align: left;
	}

	#MODERN {
		width: 85%;
	 	margin: 0 auto;
		text-align: left;
	}

	#MEDIA {
		width: 85%;
	 	margin: 0 auto;
		text-align: left;
	}

	#CONCLUSION {
		width: 85%;
	 	margin: 0 auto;
		text-align: left;
	}

	#ABSTRACT {
		width: 85%;
	 	margin: 0 auto;
	}

	#END{
		width: 85%;
	 	margin: 0 auto;
		text-align: left;
	}
	
	

	}
	
/* For mobile phones: iphone 5 is 320 ipad is 768*/

@media screen and (min-width: 300px) and (max-width: 750px) {

	/* popup */
	
	
	.box {
		display:none;
		position: fixed;
		background: alpha(opacity=40);
		z-index: 5;
		width: 85%;
		margin-top: -25%;
		margin-left: 7%;
	
		text-align: right;
		color: black;
	}
	

	/* WEBISTE */
	
	div.background {
	    position: fixed;
	    z-index: 0;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    margin-top: 0px;
		margin-right: 10%;
	    background: black;
		text-align: left;
		color: white;
	}

	div.content {
	    position: relative;
	    z-index: 1;
	    height: 100%;
	    width: 100%;
	    margin-top: 135%;
	    background: #FAFAFA;
	}
	
	nav{
		display: none;
	
	}


	li {
	    list-style: none;
	    margin-bottom: 8px;
	    font-family: Open Sans 600;
		font-size: 20px;
		line-height: 20px;
	}

	a {
		text-decoration: none;
		color: black;
	  }

	a:hover{
		color: black;
		text-decoration: underline;
	}


	/*oude website*/

	html {
	    height:100%;
	    font-family: "Open Sans";
		font-style: normal;
		font-weight: 400;
	}

	#background {
	    text-align: center;
	    width: 100%; 
	    height: 100%; 
	    position: fixed;
	    left: 0px; 
	    top: 0px; 
	    z-index: -1;
	}



	body {
		padding: 0;
		margin: 0;
		background-image: url(back.gif);
		background-color: #FAFAFA;    
		background-repeat: no-repeat;  
		background-attachment: fixed;  
		background-position: 0% 0%;
		background-size: contain;
		font-family: "Open Sans";
		font-style: normal;
		font-weight: 400;
	}

	/* FONTS */


	hr { 
	    display: block;
		width: 100%; 
	    border-width: 1px;
		color: #123455;
	}


	h1 {
		font-family: 'Libre Baskerville', serif;
		text-decoration: none;
		font-size: 30px;
		line-height: 28px;
		letter-spacing: 1,5px;
		letter-spacing: 0px;
		font-stretch: expanded;
	}

	h12 {
		font-family: 'Libre Baskerville', serif;
		font-weight: bold;
		text-decoration: none;
		font-size: 30px;
		letter-spacing: 1,5px;
		letter-spacing: 0px;
		font-stretch: expanded;
		color:black;
	}

	h2 {
		font-family: 'Libre Baskerville', serif;
		font-size: 200px;
		line-height: 180px;
		text-align: center;
		letter-spacing: 4px;
		color: white;
	}


	h3 {
		font-family: "Open Sans", sans-serif;
		text-align: center;
		font-size: 17px;
		padding-top: 0px
		color: black;
	
	}

	sup {
		font-family: "Open Sans", sans-serif;
		font-size: 10px;
		text-decoration: underline;
		color: black;	
	}


	b {
		font-family: "Open Sans", sans-serif;
		text-decoration: none;
		font-size: 14px;
		padding-bottom: 10px;
	}


	b2 {
		font-family: 'Libre Baskerville', serif;
		font-weight: bold;
		text-decoration: underline;
		font-size: 14px;
		padding-bottom: 10px;
	}


	t {
		font-family: 'Libre Baskerville', serif;
		letter-spacing: 0.5px;
		font-size: 12px;
		line-height: 21px;
	}


	t2 {
		font-family: 'Libre Baskerville', serif;
		letter-spacing: 0.5px;
		font-size: 14px;
		color: white;	
		text-align: left;
	}



	quote {
		font-family: 'Libre Baskerville', serif;
		font-style: italic;
		letter-spacing: 0px;
		font-size: 18px;
		line-height: 24px;
	}


	/* popup INSTAGRAM */

	.showhim {
	display: inline-block;
	}
	.showme {
	   display: inline-block;
	   position: absolute;
	left: 10px;
	}
	.showhim .showme {
	   display: none; 
	}

	.showhim:hover .showme {
	   display: inherit; 
	}




	/* Verschillende tekst div's */


	
	#intro {
		display:none;
	}

	#INSTA {
		width: 85%;
	 	margin: 1% auto;
		align: center;
	
	}
	
	#INSTA2 {
		width: 85%;
	 	margin: auto;
		align: center;
	
	}

	#INTRODUCTION {
		width: 85%;
		margin: 1% auto;
		text-align: left;
	}


	#CREATING {
		width: 85%;
	 		margin: 1% auto;
		text-align: left;
	}

	#ICONS {
		width: 85%;
	 	margin: 0 auto;
		text-align: left;
	}

	#MODERN {
		width: 85%;
	 	margin: 0 auto;
		text-align: left;
	}

	#MEDIA {
		width: 85%;
	 	margin: 0 auto;
		text-align: left;
	}

	#CONCLUSION {
		width: 85%;
	 	margin: 0 auto;
		text-align: left;
	}

	#ABSTRACT {
		width: 85%;
	 	margin: 0 auto;
	}

	#END{
		width: 85%;
	 	margin: 0 auto;
		text-align: left;
	}


	}	
