div.background {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    background: white;
	text-align: center;
}

div.content {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin-top: 100%;
    background: #FAFAFA;
}

header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 35px;
    width: 100%;
    background: white;
	
	color: black;
	text-align: center;
	padding: 8px 25px; 
	font-size: 10px;
	display:inline-block;
}

/* kleuren van links */

li {
    list-style: none;
    margin-bottom: 8px;
    font-family: Open Sans 600;
	font-size: 20px;
	line-height: 20px;
}

a {
	text-decoration: none;
	color: black;
  }

a:hover{
	color: grey;
}


/*oude website*/

html {
    height:100%;
    font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
}

#background {
    text-align: center;
    width: 100%; 
    height: 100%; 
    position: fixed;
    left: 0px; 
    top: 0px; 
    z-index: -1;
}



body {
	padding: 0;
	margin: 0;
	background-image: url(back.gif);
	background-color: #FAFAFA;    
	background-repeat: no-repeat;  
	background-attachment: fixed;  
	background-position: 0% 0%;
	background-size: contain;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
}

/* fonts */

h1 {
	font-family: 'Inknut Antiqua', serif;
	text-decoration: none;
	font-size: 40px;
	line-height: 28px;
	letter-spacing: 1,5px;
	letter-spacing: -1px;
}



h2 {
	font-family: 'Inknut Antiqua', serif;
	font-size: 120px;
	line-height: 110px;
	text-align: center;
	letter-spacing: -1px;
}

h3 {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	padding-top: 0px
	
}

sup {
	font-family: "Open Sans", sans-serif;
	font-size: 9px;
	text-decoration: underline;

	
}

b {
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	font-size: 14px;
	padding-bottom: 10px;
}

b2 {
	font-family: "Open Sans", sans-serif;
	 font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	padding-bottom: 10px;
	text-decoration:none;
	
}


t {
	font-family: "Open Sans";
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 22px;
}

quote {
	font-family: 'Utopia-Bold';
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 24px;
}


/* popup image */

a img.popup { 
  /*float:left;*/
  display: inline-block;
  position: absolute;
  visibility: hidden; 
  width: 20%;
}

a:hover img.popup { 
  visibility: visible;

}



/* popup video */

.showhim {
	display: inline-block;
}
.showme { 
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  /* 
  background-color: white;
  border-style: solid;
  border-color: darkgrey;
  border-width: 0.2px;
  box-shadow: 2px 2px 5px #888888;
  */
}
.showhim .showme {
    display: none; 
}

.showhim:hover .showme {
    display: inherit; 
}




/* Verschillende div's */

	
#intro {
	width: 70%;
 	margin: 0 auto;
	text-align: center;
}

#INSTA {
	width: 35%;
 	margin: 0 auto;
	align: center;
}

#INTRODUCTION {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}


#CREATING {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#ICONS {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#MODERN {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#MEDIA {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#CONCLUSION {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#ABSTRACT {
	width: 55%;
 	margin: 0 auto;
}

#END{
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}






