@media screen and (min-width: 1200px) and (max-width: 1800px) {

div.background {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    background: black;
	text-align: center;
}

div.backgroundtop {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    background: alpha(opacity=40);
	text-align: center;
	color: white;
	background-image: url("toplayer.png");
}

div.content {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin-top: 80%;
    background: #FAFAFA;
}

/*
header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 3%;
    width: 100%;
    background: white;
	
	color: black;
	text-align: center;
	padding: 8px 25px; 
	font-size: 10px;
	display:inline-block;
}

/*leftheader {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    
	height: 100%;
    width: 3%;
    
	background: alpha(opacity=40);
	border-right: 4px solid black;
	
	text-align: left;
	
}

/* kleuren van links */

li {
    list-style: none;
    margin-bottom: 8px;
    font-family: Open Sans 600;
	font-size: 20px;
	line-height: 20px;
}

a {
	text-decoration: none;
	color: black;
  }

a:hover{
	color: black;
	text-decoration: underline;
}


/*oude website*/

html {
    height:100%;
    font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
}

#background {
    text-align: center;
    width: 100%; 
    height: 100%; 
    position: fixed;
    left: 0px; 
    top: 0px; 
    z-index: -1;
}



body {
	padding: 0;
	margin: 0;
	background-image: url(back.gif);
	background-color: #FAFAFA;    
	background-repeat: no-repeat;  
	background-attachment: fixed;  
	background-position: 0% 0%;
	background-size: contain;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
}

/* fonts */


hr { 
    display: block;
	width: 100%; 
    border-width: 1px;
	color: #123455;
}

h1 {
	font-family: 'Libre Baskerville', serif;
	text-decoration: none;
	font-size: 38px;
	line-height: 28px;
	letter-spacing: 1,5px;
	letter-spacing: 0px;
	font-stretch: expanded;
}



h2 {
	font-family: 'Libre Baskerville', serif;
	font-size: 200px;
	line-height: 180px;
	text-align: center;
	letter-spacing: 4px;
	color: white;
}

h3 {
	font-family: "Open Sans", sans-serif;
	text-align: center;
	font-size: 17px;
	padding-top: 0px
	color: black;
	
}

h4 {

	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	writing-mode: tb-rl;
	 white-space: nowrap;
	font-size: 40px;
}

sup {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	text-decoration: underline;
	color: black;	
}

b {
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	font-size: 14px;
	padding-bottom: 10px;
}

b2 {
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	text-decoration: underline;
	font-size: 14px;
	padding-bottom: 10px;
}


t {
	font-family: 'Libre Baskerville', serif;
	letter-spacing: 0.5px;
	font-size: 14px;
	line-height: 21px;
}

t2 {
	font-family: 'Libre Baskerville', serif;
	letter-spacing: 0.5px;
	font-size: 14px;
	color: white;	
	text-align: left;
}

quote {
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	letter-spacing: 0px;
	font-size: 18px;
	line-height: 24px;
}


/* popup image */

a img.popup { 
  /*float:left;*/
  display: inline-block;
  position: absolute;
  visibility: hidden; 
  width: 20%;
}

a:hover img.popup { 
  visibility: visible;

}



/* popup video */

.showhim {
	display: inline-block;
}
.showme { 
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  /* 
  background-color: white;
  border-style: solid;
  border-color: darkgrey;
  border-width: 0.2px;
  box-shadow: 2px 2px 5px #888888;
  */
}
.showhim .showme {
    display: none; 
}

.showhim:hover .showme {
    display: inherit; 
}




/* Verschillende div's */


	
#intro {
	width: 70%;
 	margin: 0 auto;
	text-align: center;
}

#INSTA {
	width: 50%;
 	margin: 0 auto;
	align: center;
	
}

#INTRODUCTION {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}


#CREATING {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#ICONS {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#MODERN {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#MEDIA {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#CONCLUSION {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#ABSTRACT {
	width: 55%;
 	margin: 0 auto;
}

#END{
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}


}



/* For mobile phones: iphone 5 is 320 ipad is 768*/

@media screen and (min-width: 300px) and (max-width: 768px) {

	div.background {
	   position: fixed;
	   z-index: 0;
	   top: 0;
	   left: 0;
	   height: 100%;
	   width: 100%;
	   margin-top: -140px;
	   background: black;
		text-align: center;
	}

	div.backgroundtop {
	   position: fixed;
	   z-index: 0;
	   top: 0;
	   left: 0;
	   height: 50%;
	   width: 100%;
	   margin-top: 0px;
	   background: alpha(opacity=40);
		text-align: center;
		background-image: url("toplayer.png");
	}

	div.content {
	   position: relative;
	   z-index: 1;
	   height: 100%;
	   width: 100%;
	   margin-top: 90%;
	   background: #FAFAFA;
	}



	li {
	    list-style: none;
	    margin-bottom: 8px;
	    font-family: Open Sans 600;
		font-size: 20px;
		line-height: 20px;
	}

	a {
		text-decoration: none;
		color: black;
	  }

	a:hover{
		color: black;
		text-decoration: underline;
	}


	/*oude website*/

	html {
	    height:100%;
	    font-family: "Open Sans";
		font-style: normal;
		font-weight: 400;
	}

	#background {
	    text-align: center;
	    width: 100%; 
	    height: 100%; 
	    position: fixed;
	    left: 0px; 
	    top: 0px; 
	    z-index: -1;
	}



	body {
		padding: 0;
		margin: 0;
		background-image: url(back.gif);
		background-color: #FAFAFA;    
		background-repeat: no-repeat;  
		background-attachment: fixed;  
		background-position: 0% 0%;
		background-size: contain;
		font-family: "Open Sans";
		font-style: normal;
		font-weight: 400;
	}

	/* fonts */


	hr { 
	    display: block;
		width: 100%; 
	    border-width: 1px;
		color: #123455;
	}

	h1 {
		font-family: 'Libre Baskerville', serif;
		text-decoration: none;
		font-size: 38px;
		line-height: 36px;
		letter-spacing: 1,5px;
		letter-spacing: 0px;
	}



	h2 {
		font-family: 'Libre Baskerville', serif;
		font-size: 200px;
		line-height: 180px;
		text-align: center;
		letter-spacing: 4px;
		color: white;
	}

	h3 {
		font-family: "Open Sans", sans-serif;
		text-align: center;
		font-size: 17px;
		padding-top: 0px
		color: black;
	
	}

	h4 {

		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		writing-mode: tb-rl;
		 white-space: nowrap;
		font-size: 40px;
	}

	sup {
		font-family: "Open Sans", sans-serif;
		font-size: 10px;
		text-decoration: underline;
		color: black;	
	}

	b {
		font-family: "Open Sans", sans-serif;
		text-decoration: none;
		font-size: 13px;
		padding-bottom: 10px;
	}

	b2 {
		font-family: 'Libre Baskerville', serif;
		font-weight: bold;
		text-decoration: underline;
		font-size: 13px;
		padding-bottom: 10px;
	}


	t {
		font-family: 'Libre Baskerville', serif;
		letter-spacing: 0.5px;
		font-size: 13px;
		line-height: 21px;
	}

	t2 {
		font-family: 'Libre Baskerville', serif;
		letter-spacing: 0.5px;
		font-size: 14px;
		color: white;	
		text-align: left;
	}

	quote {
		font-family: 'Libre Baskerville', serif;
		font-style: italic;
		letter-spacing: 0px;
		font-size: 13px;
		line-height: 16px;
	}


	/* popup image */

	a img.popup { 
	  /*float:left;*/
	  display: inline-block;
	  position: absolute;
	  visibility: hidden; 
	  width: 20%;
	}

	a:hover img.popup { 
	  visibility: visible;

	}



	/* popup video */

	.showhim {
		display: inline-block;
	}
	.showme { 
	  display: inline-block;
	  position: absolute;
	  border-radius: 3px;
	  /* 
	  background-color: white;
	  border-style: solid;
	  border-color: darkgrey;
	  border-width: 0.2px;
	  box-shadow: 2px 2px 5px #888888;
	  */
	}
	.showhim .showme {
	    display: none; 
	}

	.showhim:hover .showme {
	    display: inherit; 
	}




	/* Verschillende div's */


	
	#intro {
		width: 90%;
	 	margin: 0 auto;
		text-align: center;
	}

	#INSTA {
		width: 90%;
	 	margin: 0 auto;
		align: center;
	
	}

	#INTRODUCTION {
		width: 90%;
	 	margin: 0 auto;
		text-align: left;
	}


	#CREATING {
		width: 90%;
	 	margin: 0 auto;
		text-align: left;
	}

	#ICONS {
		width: 90%;
	 	margin: 0 auto;
		text-align: left;
	}

	#MODERN {
		width: 90%;
	 	margin: 0 auto;
		text-align: left;
	}

	#MEDIA {
		width: 90%;
	 	margin: 0 auto;
		text-align: left;
	}

	#CONCLUSION {
		width: 90%;
	 	margin: 0 auto;
		text-align: left;
	}

	#ABSTRACT {
		width: 90%;
	 	margin: 0 auto;
	}

	#END{
		width: 90%;
	 	margin: 0 auto;
		text-align: left;
	}
	
	

	}	
