/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-jan-2016, 13:46:21
    Author     : mick_
*/


.outerheader {
    z-index: 100;
    position: fixed;
    height: 180px;
    background-color: white;
    width: 100%;
    top: 0px;
	text-align: center;
}



.menu {
    display: inline-block;
}

.menu ul {
    margin: 50; padding: 0;
    float: left;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    float: left; text-decoration: none;
    color: black; 
    padding: 25.5px 11px;
}
 
 
.menu ul li a:hover, .menu ul li .current {
    color: black;
    text-decoration: underline;
}

.header {
    text-align: center;
}

.content {
    margin: 200px auto;
	margin-left: 50px;
	margin-right: 30px;
}

.column-left{ float: left; width: 25%; margin: 10px;}
.column-right{ right; width: 25%;  margin: 10px;}
.column-center{ display: inline-block; width: 50%;}


.ribbon {
    position: absolute;
    top: 15px;
    right: 35px;
   WIDTH:110px; 
   HEIGHT:25px
}

.ribbon2 {
    position: absolute;
   top: 15px;
    left: 25px;
   WIDTH:110px; 
   HEIGHT:25px
}





