html {
    height:100%;
    font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
}

#background {
    text-align: center;
    width: 100%; 
    height: 100%; 
    position: fixed;
    left: 0px; 
    top: 0px; 
    z-index: -1;
}



body {
	padding: 0;
	margin: 0;
	background-color: #FAFAFA;    
	background-repeat: no-repeat;  
	background-attachment: fixed;  
	background-position: 0% 0%;
	background-size: contain;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
}

/* fonts */

h1 {
	font-family: 'Inknut Antiqua', serif;
	text-decoration: none;
	font-size: 19px;
	line-height: 28px;
	letter-spacing: 1,5px;
	letter-spacing: -1px;
}



h2 {
	font-family: 'Inknut Antiqua', serif;
	font-size: 120px;
	line-height: 110px;
	text-align: center;
	letter-spacing: -1px;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	padding-top: 0px
}

sup {
	font-family: "Open Sans", sans-serif;
	font-size: 9px;
	text-decoration: underline;
}

b {
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	font-size: 14px;
	padding-bottom: 10px;
}

b2 {
	font-family: "Open Sans", sans-serif;
	 font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	padding-bottom: 10px;
	text-decoration:underline;
}


t {
	font-family: "Open Sans";
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 22px;
}

quote {
	font-family: 'Utopia-Bold';
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 24px;
}


/* popup image */

a img.popup { 
  /*float:left;*/
  display: inline-block;
  position: absolute;
  visibility: hidden; 
  width: 20%;
}

a:hover img.popup { 
  visibility: visible;

}



/* popup video */

.showhim {
	display: inline-block;
}
.showme { 
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  /* 
  background-color: white;
  border-style: solid;
  border-color: darkgrey;
  border-width: 0.2px;
  box-shadow: 2px 2px 5px #888888;
  */
}
.showhim .showme {
    display: none; 
}

.showhim:hover .showme {
    display: inherit; 
}




/* Verschillende div's */

	

#MOVIE {
	width: 55%;
	height: 900;
 	margin: 0 auto;
}

#INTRODUCTION {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}


#CREATING {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#ICONS {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#MODERN {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#MEDIA {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#CONCLUSION {
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#ABSTRACT {
	width: 55%;
 	margin: 0 auto;
}

#END{
	width: 55%;
 	margin: 0 auto;
	text-align: left;
}

#vidBox{
	
}


/* kleuren van links */

li {
    list-style: none;
    margin-bottom: 8px;
    font-family: Open Sans 600;
	font-size: 20px;
	line-height: 20px;
}



a {
	text-decoration: none;
	color: black;
  }

a:hover{
	color: grey;
}



/* Begin Navigation Bar*/
   #nav {
      width: 100%;
      padding: 0;
	  margin-top:30px;
      text-align:center; }
	
   #nav li a {
      padding: 8px 15px;
	  line-height: 10%;
      text-decoration: none;
	  font-size: 15px;
      font-weight: bold;
      border-right: 0px solid #ccc; }
   
   #nav li a:hover {
      /*color: #c00;*/
      background-color: #fff; }


    #nav li a:link,a:visited {
        margin:0 auto;
        display:block;
        font-weight:bold;
        text-align:center;
        padding:10px;
        text-decoration:none;
    }
    #nav li {
    display:inline-block;
}
#menu {
    background-color:#98bf21;
    text-align:center;
}


   /* Exclusief buttons. */
   
.ribbon {
position: fixed;
top: 28px;
right: 20px;
WIDTH:130px; 
HEIGHT:30px
}

.ribbon2 {
position: fixed;
top: 28px;
left: 20px;
WIDTH:130px; 
HEIGHT:30px
}


.ribbon3 {
position: fixed;
left: 20px;
bottom: 45px;
WIDTH:130px; 
HEIGHT:30px;
 
  
}

.ribbon4 {
position: fixed;
right: 5px;
bottom: 45px;
WIDTH:130px; 
HEIGHT:30px;

  
}

/* firstpage. */



/* For mobile phones: iphone 5 is 320 ipad is 768*/


@media screen and (min-width: 320px) and (max-width: 768px) {

/*Alle divs*/

#MOVIE {
	width: 95%;
}

#INTRODUCTION {
	width: 95%;
}


#CREATING {
	width: 95%;
}

#ICONS {
	width: 95%;
}

#MODERN {
	width: 95%;
}

#MEDIA {
	width: 95%;
}

#CONCLUSION {
	width: 95%;
}

#ABSTRACT {
	width: 95%;
}

#END{
	width: 95%;
}

#vidBox{
clear: both;
display: block;
}



/* Begin Navigation Bar*/
   #nav {
      width: 95%;
      padding: 20px;
	  margin-top:110px;
      text-align:center; }
	
   #nav li a {
      padding: 8px 5px;
	  line-height: 35%;
	  font-size: 150%;
      font-weight: bold;
      border-right: 0px solid #ccc; }
   
   #nav li a:hover {
      /*color: #c00;*/
      background-color: #fff; }


    #nav li a:link,a:visited {
        margin:0 auto;
        display:block;
        font-weight:bold;
        text-align:center;
        padding:10px;
        text-decoration:none;
    }
    #nav li {
    display:inline-block;
}
#menu {
    background-color:#98bf21;
    text-align:center;
}

   /* Exclusief buttons. */
   
.ribbon {
position: fixed;
right: 0px;
WIDTH:130px; 
HEIGHT:30px
}
	
	
}





/* For mobile phones: iphone 5 is 320 ipad is 768*/


@media screen and (min-width: 320px) and (max-width: 768px) {
	
	
